* {
    margin: 0;
    padding: 0;
}

:root {
    --sketchboxwh: 480px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: coral;
    height: 100vh;
}

h1 {
    margin: 10px;
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#sketchbox {
    box-sizing: content-box;
    width: var(--sketchboxwh);
    height: var(--sketchboxwh);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #dfdfdf; */
    background-color: #fff;
}

.sketchtile {
    box-sizing: border-box;
}

.tile-16 {
    width: calc(var(--sketchboxwh)/16);
    height: calc(var(--sketchboxwh)/16);
}

.tile-24 {
    width: calc(var(--sketchboxwh)/24);
    height: calc(var(--sketchboxwh)/24);
}

.tile-32 {
    width: calc(var(--sketchboxwh)/32);
    height: calc(var(--sketchboxwh)/32);
}

.tile-48 {
    width: calc(var(--sketchboxwh)/48);
    height: calc(var(--sketchboxwh)/48);
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
    width: 480px;
}

.btn-container .btn {
    padding: 6px 18px;
    cursor: pointer;
}

.color-group {
    display: flex;
    justify-content: space-between;
    height: 35px;
}
.grid-group{
    display: flex;
    justify-content: space-between;
}
.colorBtn {
    font-size: 0;
    border: none;
    background: var(--btnColor);
    border-radius: 50%;

}

#redBtn {
    --btnColor: red;
}

#aquaBtn {
    --btnColor: aqua;
}

#yellowBtn {
    --btnColor: yellow;
}

#greenBtn {
    --btnColor: green;
}

#blueBtn {
    --btnColor: blue;
}

#blackBtn {
    --btnColor: black;
}

#purpleBtn {
    --btnColor: purple;
}

#rainbowBtn {
    --btnColor: linear-gradient(90deg, #f44336 0%, #f44336 14.2857142857%, #f4e636 14.2857142857%, #f4e636 28.5714285714%, #5ff436 28.5714285714%, #5ff436 42.8571428571%, #36f4b0 42.8571428571%, #36f4b0 57.1428571429%, #3696f4 57.1428571429%, #3696f4 71.4285714286%, #7936f4 71.4285714286%, #7936f4 85.7142857143%, #f436cc 85.7142857143%, #f436cc 100%, #f44336 100%, #f44336 114.2857142857%);
}